<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List(仮)</title>
  <%= stylesheet_link_tag "style.css", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "date", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "list", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "move-prevent", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <div class="List">
    <div class="List-text">
      <div class="for-clock">
      <h2 id="Todo">今日の予定</h2>
      <a href=""><!--後でがみさんがなんとかしてくれるはず-->
        <%= image_tag "clock.png", id:"clock" %>
      </a>
      </div>
      <p id="today"></p>
      <ul id="task-list"></ul>
    </div>
    <div>
      <form id="task-form">
        <input type="text" placeholder="やりたいことは？" required>
      </form>
      <form id="next" action="file:///C:/Users/hark_/Desktop/vscode/Re-AizuHack2025/emotion-page.html">
        <!--おそらくこの上のactionは消す予定？-->
        <button type="submit">感情・時間入力フォームへ進む</button>
      </form>
    </div>
  </div>
</body>
</html>

<!--タスクのリスト化はlist.js-->
<!-- date.jsは日付の表示 -->
<!-- move-prevent.jsはページ移動の防止(不要かも？) -->