<h1> TOPページ </h1>

<h2> 状態入力 </h2>

<br>
<br>
<br>

<%= form_with(model: @input, url: options_path, method: :post) do |f| %>
  <div>
    <%= f.label :emotion "今の気分を入力"%>
    <%= f.text_field :emotion %>
  </div>

  <div>
    <%= f.hidden_field :date, value: Date.today %>
  </div>

  <div>
    <%= f.label :maxtime "勉強時間"%>
    <%= f.range_field :maxtime, in: 1..12, step: 0.25 %>
  </div>

  <div>
    <%= f.submit "タスクを始める" %>
  </div>
<% end %>

<br>
<br>
Test:
<br>
today:
<%= Date.today %>